@charset "UTF-8";
/*
	orange = rgb(236,117,38);
	blue = rgb(54,140,143);
	light-orange = rgb(244,177,116);
	lightBlue = rgb(77,152,155);
*/

#main{
	color: rgb(150,150,150);
}
#main img{
	width: 100%;
	max-width: 300px;
	box-shadow: 0 0 2px rgba(0,0,0,0.3);
}

.titre{
	padding: 25px 0px 20px 0px;
	margin-bottom: 40px;
	background-color: rgba(244,177,116,.75);
	color: white;
}

#cover img{
	margin-bottom: 30px;
}
#contacts-revue{
	margin: 0 10px 0 10px;
}
.contact-revue{
	display: block;
}
#baseline{
	text-align: justify;
	font-weight: lighter;
	font-size: 21px;
	color: rgb(77,152,155);
}
#revue-data{
	margin: 30px 0 30px 0;
	text-align: left;
}
#revue-data h4{
	font-weight: normal;
	font-size: 15px;
}#revue-data h4 strong{
	font-weight: normal;
	font-size: 16px;
}

#presentation-revue{
        padding-right: 20px;
	margin-bottom: 30px;
        text-align: justify;
        line-height: 25px;
        letter-spacing: 1.5px;
        font-size: 15px;
}

#revues-univers{
	border-left: 1px dotted rgb(77,152,155);
}
#revues-univers h3{
	margin-top: 0;
	color: rgb(150,150,150);
	font-weight: lighter;
	font-size: 15px;
}
#revues-univers img{
	display: inline-block;
	max-width: 164px;
	margin-top: 18px;
}
