@charset "UTF-8";

/*
	orange = rgb(236,117,38);
	lightOrange = rgb(244,177,116);
	blue = rgb(54,140,143);
	lightBlue = rgb(77,152,155);
*/
body{
	background: #fdfdfd;
}

.navbar{box-shadow: 0 0 6px 2px rgba(0,0,0,.3);}

#banner-wrapper{
	position: absolute;
	width: 100%;
	overflow: hidden;
	max-height: 300px;
}
#banner{
	position: relative;
	top: -100px;
	min-height: 300px;
	min-width: 100%;
}
#banner-titre{
	position: absolute;
	z-index: 9;
	padding: 20px 35px 20px 35px;
	background-color: rgba(0,0,0,.25);
	border-radius: 200px;
	text-align: center;
	font-family: 'Poiret One', sans-serif;
	letter-spacing: 6px;
	font-size: 40px;
	color: white;
}
#chiffres-univers{
	width: 100%;
	margin: 20px 0 20px 0;
	text-align: justify;
}
.chiffre{
	display: inline-block;
	width: 32%;
	padding: 10px 20px 10px 20px;
	background-color: rgba(244,177,116,.75);
	color: white;
}
.data-chiffre, .data-baseline{
	font-family: 'Poiret One', sans-serif;
}

#main{
	max-width: 980px;
	margin: auto;
	padding: 70px 0 70px 0;
	text-align: justify;
	font-size: 18px;
	color: rgb(150,150,150);
}
@media screen and (max-width: 1020px){
	#univers-presentation{
		padding: 70px 20px 70px 20px;
	}
}


@media screen and (max-width: 768px){
	#banner-wrapper{
		max-height: 250px;
	}
	#banner-titre{
		padding: 13px 16px 13px 16px;
		letter-spacing: 3px;
		font-size: 31px;
	}
}
@media screen and (max-width: 480px){
	#banner-wrapper{
		max-height: 200px;
	}
	#banner{
		position: relative;
		top: -100px;
	}
	#banner-titre{
		padding: 10px 13px 10px 13px;
		letter-spacing: 3px;
		font-size: 27px;
	}
}

.titre{
	margin-bottom: 40px;
}
