{% extends "pages/page.html" %}
{% load  staticfiles mezzanine_tags %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static "css/revue.css" %}">
{% endblock %}

{% block main %}
<h1 class='titre'>{{ revue.title|upper }}</h1>
<div id='main' class='container'>
    <div class='row'>

        <div id='cover' class='col-md-3 col-sm-4 col-xs-12 text-center'>
            <img src='{{ MEDIA_URL }}couvertures/{{ revue.couverture }}' alt='couverture de la revue' />
		<div id='contacts-revue' class='text-justify'>
		{% for contact_revue in contacts_revue %}
		<strong class='contact-revue'>{{ contact_revue.intitule_fonction }}</strong>
		<span class='contact-revue'>{{ contact_revue.identite }}</span>
		<span class='contact-revue'>{{ contact_revue.phone }}</span>
		<span class='contact-revue'>{{ contact_revue.email }}</span>
		{% endfor %}
		</div>		
        </div>
        <div class='col-md-7 col-sm-8 col-xs-12'>
            <div id='baseline'>{{ revue.baseline }}</div>
            <div id='revue-data'>
                <h4 class='data-slot'>Univers : <strong>{{ revue.univers|lower }}</strong></h4>
                <h4 class='data-slot'>Type de revue : <strong>{{ revue.type_revue|lower }}</strong></h4>
                <h4 class='data-slot'>Format : <strong>{{ revue.format_revue|lower }}</strong></h4>
                <h4 class='data-slot'>Périodicié : <strong>{{ revue.periodicie|lower }}</strong></h4>
                <h4 class='data-slot'>Tirage : <strong>{{ revue.tirage|lower }}</strong></h4>
                <h4 class='data-slot'>Pagination : <strong>{{ revue.pagination|lower }}</strong></h4>
                <h4 class='data-slot'>Lectorat : <strong>{{ revue.lectorat|lower }}</strong></h4>
            </div>
            <div id='presentation-revue'>
                {{ revue.presentation }}
            </div>
        </div>
        <div id='revues-univers' class='col-md-2 col-sm-12 col-xs-12'>
            {% if revues_univers %}	
            <h3 class='text-center'>Nos autres revues</h3>
            {% for revue_univers in revues_univers %}
                <a href='{{ revue_univers.get_absolute_url }}'>
                    <img src='{{ MEDIA_URL }}couvertures/{{ revue_univers.couverture }}' alt='couverture revue du même univers' />
                </a>
            {% endfor %}
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}

{% block extra_js %}
<script src="{% static "js/revue.js" %}"></script>
{% endblock %}
